@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  transition: all 0.3s ease;
}

body{
  background-color: #F5F8FF;
}

/* Header Section */

.navbar{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;
}

.navbar a{
  text-decoration: none;
  color: #4E47FF;
  font-size: 35px;
  font-weight: 900;
}

.navbar a:hover{
  transform: scale(1.05);
}

.btn_primary{
  background-color: #4E47FF;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #4E47FF;
  border-radius: 10px;
  padding: 10px 30px;
}

.btn_primary:hover{
  cursor: pointer;
  background-color: #4d47ffbe;
  transform: scale(1.05);
}

.header{
  background-image: url('../Assets/Hero-bg.png');
  text-align: center;
  padding-bottom: 160px;
}

.header h1{
  margin: 160px auto 40px;
  color: #252432;
  font-size: 65px;
  font-weight: 700;
}

/* Action Section */

.action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px auto 0;
  width: 80%;
}

.action div h2{
  font-size: 42px;
  font-weight: 700;
  padding-bottom: 25px;
  color: #252432;
}

.action div p{
  font-size: 24px;
  padding-bottom: 25px;
  color: rgba(37, 36, 50, 0.5);
}

.action img{
  border-radius: 50px;
}

/* Productive User Section */

.productive{
  width: 80%;
  margin: 120px auto 0;
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 80px;
  border-radius: 20px;
  text-align: center;
}

.productive h1{
  font-size: 38px;
  font-weight: 700;
  color: #252432;
  padding-bottom: 40px;
}

.productive div{
  display: flex;
  justify-content: space-around;
}

.productive div div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.productive div div h3{
  font-size: 80px;
  font-weight: 700;
  color: #4E47FF;
}

.productive div div p{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* User Review Section */

.user_review{
  width: 80%;
  margin: 140px auto 0;
  text-align: center;
}

.user_review h1{
  font-size: 42px;
  font-weight: 700;
  padding-bottom: 50px;
  color: #252432;
}

.card_prime{
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.card{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  border: 1px solid #f2eded;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(117, 117, 117, 0.37);
}

.card:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.card h2{
  font-size: 24px;
  font-weight: 600;
  padding: 25px 0;
  color: #1E1E1E;
}

.card p{
  font-size: 16px;
  color: #1E1E1E  ;
}

.reviewer{
  display: flex;
  padding-top: 35px;
  gap: 20px;
}

.reviewer img{
  border-radius: 50%;
}

.reviewer p{
  color: #757575;
  font-size: 14px;
  line-height: 20px;
}